<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />


    <title>States</title>
</head>

<body>

    <div class="container" class="card-body">
        <div class="text-right"><a href="#"></a></div>

        <h1>Welcome, {{user.first_name}}</h1>


        <div id="queen_holder">
            <div class="d-flex justify-content-end">
                <!-- <a class="pr-2" href="#">Who should be on next?</a> -->
                <a href="/log_out">Logout</a>
            </div>

            <h2>States</h2>

            <div class="row">
                <div class="col-3">
                    {%for queen in queen%}
                </div>
                <div class="col-3">
                    <a href="/contestants/{{queen.state_name}}">{{queen.state_name}}</a>
                    {%endfor%}
                </div>

            </div>
        </div>
    </div>



</body>

</html>