<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"  rel="stylesheet" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/comment.css') }}" />

    <title>Queen in State</title>
</head>

<body>
    <div class="container">
        <a class="text-secondary" href="/states">Home</a>
        <h1 class="card-title text-center pt-2">{{state_name}}</h1>
        <div id="container" class="card-body">

            <div id="queen_holder" class="row justify-content-center scroll">

                <table class=" table table-striped w-auto">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name </th>
                            <th>Age</th>
                            <th>Home Town</th>
                            <th>Season</th>
                            <th>Placement</th>
                            <th>Add Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for state in state%}
                        <tr>

                            <td>{{state.first_name}}</td>
                            <td>{{state.last_name}}</td>
                            <td>{{state.age}}</td>
                            <td>{{state.city_name}}</td>
                            <td>{{state.season}}</td>
                            <!-- make a toggle for placement -->
                            <td>{{state.placement}}</td>

                            <td> <a href="/add_comment/{{state.id}}">Add Comment</a></td>

                            {%endfor%}
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</body>